html {
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home h1 {
  font-style: normal;
  font-weight: normal;
  color: #262730;
  font-size: 96px;
  margin: auto;
  letter-spacing: 0.17em;

}
.Home h4 {
  font-style: normal;
  font-weight: normal;
  color: #262730;
  font-size: 20px;
  margin-top: -25px;
  margin-bottom: 0px;
  letter-spacing: 0.17em;
  text-align: center;
}

div.Splash {
  width: 100%;
  height: calc(100vh - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

*/
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px);
}


.post-year {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  align-items: center;
  letter-spacing: 1.38em;
  padding: 10px;
}
.posts-list li {
  list-style-type: none;
  font-size: 18px;
}
.post-item a {
  color: inherit;
  text-decoration: inherit;
}
/* 
  Side navigation bar
*/

.content {
  animation: 0.250s ease-out 0s 1 mainSlideIn;
  height: 100%;
  width: 90vw;

  padding: 0px;
  position: fixed;
  overflow-y: scroll;
  left: 10vw;
}
.isExiting .content {
  animation: 0.250s ease-out 0s 1 mainSlideOut;
}

.Sidenav {
  position: fixed;
  height: calc(100vh - 16px);
  width: 10vw;
  top: 0;
  left: 0;
  float: left;
  align-items: center;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow: hidden;
}

.Sidenav li {
  overflow: hidden;
  list-style-type: none;
  font-weight: 300;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.Sidenav a {
  color: inherit;
  text-decoration: inherit;
  font-size: 24px;
  padding: 10px;
}

.bounce-swipe {
  position: relative;
  display: inline-block;
  background: none;
  /* transition:color 0.25s ease; */
}

.bounce-swipe:hover {
  color:white;
}

.bounce-swipe::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transform-origin:left;
  transition: width 0.5s cubic-bezier(0.155, 1.650, 0.660, 0.435);
  z-index:-1;
}

.bounce-swipe:hover::after {
  width: 100%;
}
.bounce-swipe:active::after {
  width: 0%;
}

.Sidenav .active {
  font-weight: bold;
  color: #6C7A7D;
  /* animation: 0.5s ease-out 0s 1 leftSlideIn; */
}

/* 
  Animation
*/



@keyframes mainSlideIn {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes mainSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10%);
    opacity: 0;

  }
}

@keyframes leftSlideIn {
  0% {
    transform: translateX(-2vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(2vw);
    opacity: 0;

  }
}