
.lyt-sidebar {
    grid-area: sidebar;
}

.lyt-content {
    grid-area: content;
}

.lyt-header {
    grid-area: header;
}

.lyt-footer {
    grid-area: footer;
}

/* MOBILE - layout for mobile and small screens */
.lyt-layout {
    display: grid;
    grid-template-columns: 5vw  90vw  5vw;
    grid-template-areas: "... header ..."
                        "... sidebar ..."
                        "... content ..."
                        "... footer ...";
}
/* DESKTOP - layout for desktop and large screens */
@media only screen and (min-width: 700px) {
    .lyt-sidebar {
        width: 10em;
        height: 100%;
        display: flex;
        position: fixed;
        align-items: center;
    }
    .lyt-layout {
        min-height: 100vh;
        display: grid;
        grid-gap: 0.5vw;
        grid-template-columns: 14em 5vw 60vw ;
        grid-template-areas: "sidebar ... header  ...."
                             "sidebar ... content ...."
                             "....... ... footer  ....";
    }
}
  
