{{ define "main" }}
<main class="posts">
  <div>
    <!-- {{- if .Content }}
    <div class="content">{{ .Content }}</div>
    {{- end }} -->

    {{- range .Data.Pages.GroupByDate "2006" }}
    <div class="posts-group">
      <div class="post-year">{{ .Key }}</div>

      <div class="posts-list">
        {{- range .Pages }}
        <div class="post-item bounce-swipe">
          <a href="{{.Permalink}}">
            <span class="post-day">
              {{ if .Site.Params.dateformShort }}
              {{ .Date.Format .Site.Params.dateformShort }}
              {{ else }}
              {{ .Date.Format "Jan 2"}}
              {{ end }}
            </span>
            <span class="post-title">{{.Title}}</span>
          </a>
        </div>
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
</main>
{{ end }}